In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# %matplotlib notebook

df_bio = pd.read_csv('BioParams.csv',delimiter='\t')

In [2]:
time = df_bio['time']

In [3]:
df_bio.head()

,time,Reg,myo0_1,myo1_17,myo1_7,myo17_13,myo1_10,myo10_17
0,822.554345,57.957771,2.309292,0,0.138027,2.309292,0.138027,0.138027
1,823.554345,60.070851,22.605638,0,0.100719,22.605638,0.100719,0.100719
2,824.554345,62.275483,20.997829,0,0.116540,20.997829,0.116540,0.116540
3,825.554345,64.573477,19.572354,0,0.134206,19.572354,0.134206,0.134206
4,826.554345,66.966302,18.333810,0,0.153884,18.333810,0.153884,0.153884

In [4]:
df_bio.tail()

,time,Reg,myo0_1,myo1_17,myo1_7,myo17_13,myo1_10,myo10_17
4973,5791.953655,301.182040,3.134216,0,18.108763,3.134216,18.109011,18.108763
4974,5792.953655,301.340757,3.328413,0,17.068139,3.328413,17.068471,17.068139
4975,5793.953655,301.496089,3.532199,0,16.098177,3.532199,16.098608,16.098177
4976,5794.953655,301.648086,3.746091,0,15.192686,3.746091,15.193231,15.192686
4977,5795.953655,301.796797,3.970641,0,14.000000,NaN,NaN,NaN

In [5]:
plt.figure(1)
plt.title('Regulator')
plt.plot(time,df_bio['Reg'])
plt.xlim([time.min(),time.max()])
plt.xlabel("time")
plt.ylabel("$\mu M$")
plt.show()

In [6]:
plt.figure(2)
plt.title('Myosin on Spoke 0-1')
plt.plot(time,df_bio['myo0_1'])
plt.xlim([time.min(),time.max()])
plt.xlabel("time")
plt.ylabel("$\mu M$")
plt.show()

In [7]:
plt.figure(3)
plt.title('Myosin on Spoke 1-7')
plt.plot(time,df_bio['myo1_7'])
plt.xlim([time.min(),time.max()])
plt.xlabel("time")
plt.ylabel("$\mu M$")
plt.show()

In [8]:
plt.figure(4)
plt.title('Myosin on Representative Spokes')
plt.plot(time,df_bio['myo0_1'])
plt.plot(time,df_bio['myo1_7'])
plt.xlim([time.min(),time.max()])
plt.xlabel("time")
plt.ylabel("$\mu M$")
plt.legend()
plt.show()

In [ ]:
df_bio.tail()

In [ ]:
fig, ax1 = plt.subplots()
plt.title('')
ax1.plot(time,df_bio.myo0,'b-')
ax1.set_xlabel('time (s)')
ax1.set_ylabel('Myosin', color='b')
for tl in ax1.get_yticklabels():
    tl.set_color('b')
    
ax2 = ax1.twinx()
ax2.plot(time, df_bio.force0, 'r-')
ax2.set_ylabel('Force', color='r')
for tl in ax2.get_yticklabels():
    tl.set_color('r')
plt.show()

In [ ]:
dt = np.diff(time)

In [ ]:
print("The max dt used was: ", np.amax(dt))
print("The min dt used was: ", np.amin(dt))
print("The mean dt used was:", np.mean(dt))
np.mean(dt)*10

In [ ]:
%matplotlib auto
p0 = (x0[0],y0[0])
p1 = (x1[0],y1[0])
p2 = (x2[0],y2[0])
p3 = (x3[0],y3[0])
p4 = (x4[0],y4[0])
p5 = (x5[0],y5[0])

nodes = [p0,p1,p2,p3,p4,p5]

G = nx.Graph()

i = 0
for node in nodes:
    G.add_node(i,{'pos':node,'cell':1})
#    G.add_edge('medial',i,{'name':1})
    i += 1
G.add_path([0,1,2,3,4,5,0])

fig = plt.figure()

pos = nx.get_node_attributes(G,'pos')

nx.draw(G,pos)
plt.title("Time")
plt.xlim(-2,2)
plt.ylim(-2,2)
plt.axis("on")
plt.grid("on")

for i in range(1,len(time),1000):
    G.node[0]['pos'] = (x0[i],y0[i])
    G.node[1]['pos'] = (x1[i],y1[i])
    G.node[2]['pos'] = (x2[i],y2[i])
    G.node[3]['pos'] = (x3[i],y3[i])
    G.node[4]['pos'] = (x4[i],y4[i])
    G.node[5]['pos'] = (x5[i],y5[i])

    pos = nx.get_node_attributes(G,'pos')
    nx.draw(G,pos)
    plt.title('Time')
    plt.xlim(-2,2)
    plt.ylim(-2,2)
    plt.axis("on")
    plt.grid("on")
    plt.pause(0.5)

plt.show()